.App {
  max-width: 1200px;
  margin: 0 auto;
}

.episode {
  margin: 1rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.644);
  color: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .episode {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .episode {
    flex: 1 1 calc(33% - 2rem);
  }
}

img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20; */
}

.header {
  color: white;
  font-size: 50px;
  text-align: center;
}

.footer {
  color: white;
  font-size: 15px;
}

.search {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

.select {
  color: black;
  font-size: 12px;
}
